logs/
temp/
normalized_cache/
tik_tok_downloads/
music/
*.mp3
*.mp4
*.sh
credentials.json
*.log
video_downloader_tkinter.py
*.json
working_project  
venv/
.venv/
__pycache__/
*.__pycache__
.env
/working_project_w_ui
export_mode.txt